body {
  background-color: white;
  font-family: "Lato";
}

.hidden {
  display: none;
}

#homepage-container {
  background-image: url("images/home2.jpg");
  background-size: cover;
  height: 100vh
}

#header {
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.68);
}

#logo {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 325px;
}

#logo:hover {
  cursor: pointer;
}

#nav-container {
  position: absolute;
  top: 30px;
  left: 380px;
  text-align: left;
}

span.navigate {
  font-weight: 300;
  color: #e8e8e8;
  font-size: 15px;
}

span.divider {
  color: black;
  font-weight: 900;
  margin-left: 25px;
  margin-right: 25px;
}

span.navigate:hover {
  cursor: pointer;
  color: #b71b00;
}

#social-media {
  position: absolute;
  top: 30px;
  left: 90%;
  color: #e8e8e8;
}

#social-media i {
  margin-left: 7px;
}

#social-media i:hover {
  cursor: pointer;
}

#portfolio-container {
  width: 100vw;
  height: 100vh;
}

#portfolio-container img {
  border: 15px rgba(0, 0, 0, 0.68) solid;
}

#landscape-selector {
  width: 450px;
  z-index: -1;
}

.button-container {
  position: absolute;
  top: 250px;
}
.button-container#landscapes {
  left: 180px;
}

.button-container#portraits {
  left: 800px;
}

#landscapes-wrapper {
  position: absolute;
  top: 0px;
  width: 450px;
  height: 310.69px;
}

#landscapes-wrapper h3 {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 40px;
  color: #e8e8e8;
}

#landscapes-wrapper:hover h3 {
  visibility: visible;
  z-index: 1;
}

#landscapes-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 100;
}

#portrait-selector {
  position: absolute;
  left: 43%;
  width: 450px;
  z-index: -1;
}

#portraits-wrapper {
  position: absolute;
  top: 0px;
  left: 43%;
  width: 450px;
  height: 310px;
}

#portraits-wrapper h3 {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 120px;
  font-size: 40px;
  color: #e8e8e8;
}

#portraits-wrapper:hover h3 {
  visibility: visible;
  z-index: 1;
}

#portraits-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 100;
}

#show-portfolio {
  position: absolute;
  top: 100px;
}

.col-xs-4:nth-child(0n+1) {
  margin-left: 2%;
}

.col-xs-4 img {
  width: 100%;
}

.col-xs-4 {
  margin-bottom: 25px;
  width: 32%;
}

#about-container .row {
  padding-top: 150px;
}

#info-column {
  padding-left: 150px;
}

#about-container p {
  color: black;
  font-size: 20px;
}

#tyler-photo {
  display: block;
  margin: 0 auto;
  width: 400px;
  border: 15px rgba(0, 0, 0, 0.68) solid;
}
