body {
  background-color: $white;
}

#homepage-container {
  background-image: url("../images/home2.jpg");
  background-size: cover;
}

.navbar {
  background-color: $transparent-black;
}

#landscapes-wrapper:hover {
  background-color: $transparent-white;
}

#portraits-wrapper:hover {
  background-color: $transparent-white
}

#contact-container {
  background-image: url("../images/contact-bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#form-container {
  input {
    background-color: $light-transparent;
  }

  textarea {
    background-color: $light-transparent;
  }

  input:focus, textarea:focus {
    background-color: $white;
  }
}

#send-email {
  background-color: $white !important;
}
