@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_colors";
@import "_layout";
@import "_utilities";
@import "_backgrounds";

body {
  font-family: "Lato";
}

.hidden {
  display: none;
}

#homepage-container {
  height: 100vh
}

.navbar {
  z-index: 10;
  height: 80px;
  width: 100%;
  @extend .no-border;
}

#logo {
  width: 325px;
}

#logo:hover {
  cursor: pointer;
}

#nav-container {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse[aria-expanded="true"] {
    width: 200px;
    background-color: $transparent-black;

    .divider {
      display: none;
    }

    .navigate {
      font-size: 20px;
    }
  }
}

.navigate {
  font-weight: 300;
  color: $white;
  font-size: 15px;
}

.divider {
  color: $black;
  font-weight: 900;
}

.navigate:hover {
  cursor: pointer;
  color: $scarlet;
}

#social-media {
  color: $white;
}

#social-media span:hover {
  cursor: pointer;
}

#portfolio-container {
  width: 100vw;
  height: 100vh;
}

#portfolio-container img {
  @extend .border;
}

#landscape-selector {
  width: 450px;
  z-index: -1;
}

#landscapes-wrapper {
  width: 450px;
  height: 310.69px;

  h3 {
    @extend .hidden-header;
  }
}

#landscapes-wrapper:hover h3 {
  @extend .show-hover-effect;
}

#landscapes-wrapper:hover {
  cursor: pointer;
  z-index: 100;
}

#portrait-selector {
  width: 450px;
  z-index: -1;
}

#portraits-wrapper {
  width: 450px;
  height: 310px;

  h3 {
   @extend .hidden-header;
 }
}

#portraits-wrapper:hover h3 {
  @extend .show-hover-effect;
}

#portraits-wrapper:hover {
  cursor: pointer;
  z-index: 100;
}

.image-column img {
  width: 100%;
}

#about-container p {
  color: $black;
  font-size: 20px;
}

#tyler-photo {
  width: 400px;
  @extend .border;
}

#contact-container {
  height: 100vh;
}

#form-container {
  width: 500px;
  text-align: center;
}

#form-container {
  color: $white;
  font-weight: 300;

  h3 {
    color: $black;
    font-weight: 300;
  }

  input {
    width: 260px;
    height: 40px;
    @extend .inputs;
  }

  input::placeholder, textarea::placeholder {
    color: $white;
    font-size: 18px;
  }

  input[type="text"] {
    font-size: 18px;
  }

  textarea {
    font-size: 18px;
    width: 400px;
    @extend .inputs;
  }

  input:focus, textarea:focus {
    color: $black;
  }
}

#send-email {
  width: 160px !important;
  font-size: 18px;
  color: $black;
}

#send-email:hover {
  box-shadow: 0 0 15px $dark-grey;
}
